/node_modules
/.specstory

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# macOS system files
.DS_Store
**/.DS_Store

# Log files
*.log
logfile.txt
