Parameters:
  AWSEBDomainName:
    Type: String
    Default: crisisline-prod.elasticbeanstalk.com
  AWSEBHostedZoneId:
    Type: String
    Default: Z2FDTNDATAQYW2 # This is the default Route 53 hosted zone ID for Elastic Beanstalk

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LoadBalancerNames:
        - {"Ref": "AWSEBLoadBalancer"}
      MinSize: 1
      MaxSize: 4
      DesiredCapacity: 1

  AWSEBLoadBalancer:
    Type: AWS::ElasticLoadBalancing::LoadBalancer
    Properties:
      Listeners:
        - LoadBalancerPort: 80
          InstancePort: 80
          Protocol: HTTP
        - LoadBalancerPort: 443
          InstancePort: 443
          Protocol: HTTPS
          SSLCertificateId: {"Ref": "AWSEBCertificate"}

  AWSEBCertificate:
    Type: AWS::CertificateManager::Certificate
    Properties:
      DomainName: {"Ref": "AWSEBDomainName"}
      ValidationMethod: dns
      DomainValidationOptions:
        - DomainName: {"Ref": "AWSEBDomainName"}
          HostedZoneId: {"Ref": "AWSEBHostedZoneId"} 