Resources:
  ConversationBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: crisisline-conversations-${AWS::AccountId}
      VersioningConfiguration:
        Status: Enabled

  ConversationBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ConversationBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: elasticbeanstalk.amazonaws.com
            Action:
              - s3:PutObject
              - s3:GetObject
              - s3:ListBucketVersions
              - s3:GetObjectVersion
            Resource: 
              - !Sub 'arn:aws:s3:::${ConversationBucket}/*'
              - !Sub 'arn:aws:s3:::${ConversationBucket}'

option_settings:
  aws:elasticbeanstalk:application:environment:
    CONVERSATION_BUCKET: crisisline-conversations-222634403344

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Init:
        configSets:
          default:
            - ConfigureS3Bucket
        ConfigureS3Bucket:
          commands:
            01_create_bucket:
              command: |
                aws s3api create-bucket --bucket crisisline-conversations-222634403344 --region us-east-1
            02_enable_versioning:
              command: |
                aws s3api put-bucket-versioning --bucket crisisline-conversations-222634403344 --versioning-configuration Status=Enabled
            03_set_policy:
              command: |
                aws s3api put-bucket-policy --bucket crisisline-conversations-222634403344 --policy '{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Principal":{"Service":"elasticbeanstalk.amazonaws.com"},"Action":["s3:PutObject","s3:GetObject","s3:ListBucketVersions","s3:GetObjectVersion"],"Resource":["arn:aws:s3:::crisisline-conversations-222634403344/*","arn:aws:s3:::crisisline-conversations-222634403344"]}]}' 